@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

#content {
    text-align: center;
    max-width: 1600px;
}

body {
    background-color: #5C80BC; 
    font-family: sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    font-family: 'merriweather', sans-serif ;
    font-size: 20px;
    text-align: left;
    background-color:#30323D;
    padding-bottom: 20px;
}
footer {
    background-color: #30323D;
    color:#CDD1C4;
    padding: 25px 50px;
    margin-top: 200px;
}

.logo {
    width:100px;
    margin-bottom: 30px;
}
#logo_link {
    padding-top: 5px;
}
.home-title {
    font-size: 2em;
    color: #E8C547;
    font-family: 'merriweather', 'Times New Roman', Times, serif;
    margin-top: 30px;
}
#hero-img {
    width: 100%;
}
#hero-msg {
    font-family: 'merriweather', 'Times New Roman', Times, serif;
}
nav a {
    color: aqua;
    padding: 20px;
    border-radius: 5px;
}
nav a:hover {
    background-color: #E8C547;
    color: darkblue;
}
#background {
    height: 725px;
    background-color: #30323D;
}

.join {
    font-size: 18px;
    font-family: 'merriweather', sans-serif;
    background-color: #30323D;
    color: aqua;
    padding: 10px;
    margin-top: 50px;
    border-radius: 5px;
}
.join:hover {
    background-color: #E8C547;
    color:darkblue;
}

.book {
    font-size: 18px;
    background-color: #30323D;
    color:aqua;
    padding: 10px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover {
    background-color: #E8C547;
    color: darkblue;
}

.msg {
    background-color: #30323D;
    color: #CDD1C4;
    font-size: 1.5em;
    padding: 35px;
}
.msg p {
    font-size: .8em;
    color: #CDD1C4;
    padding: 35px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.card-img {
    width: 30%;
    border: 10px solid #30323D;
}

.link{
    color:aqua;
    padding: 5px;
    border-radius: 5px;
}
.link:hover {
    color: darkblue;
    background-color: #E8C547;
}